In [3]:
from getData import b

In [4]:
b

                  SMA_monthly_10  EMA_monthly_10  WMA_monthly_10  \
time       stock
2000-01-31 ABK               NaN             NaN             NaN
           ABS               NaN             NaN             NaN
           ACE               NaN             NaN             NaN
           ADS               NaN             NaN             NaN
           AGN               NaN             NaN             NaN
...                          ...             ...             ...
2022-04-04 YUM          124.8745        120.8813        123.3857
           ZBH          131.8079        130.7122        126.7990
           ZBRA         514.0400        477.0540        487.8225
           ZION          62.5642         62.1958         64.7258
           ZTS          205.1658        196.4512        202.8539

                  DEMA_monthly_10  TEMA_monthly_10  TRIMA_monthly_10  \
time       stock
2000-01-31 ABK                NaN              NaN               NaN
           ABS                NaN              NaN               NaN
           ACE                NaN              NaN               NaN
           ADS                NaN              NaN               NaN
           AGN                NaN              NaN               NaN
...                           ...              ...               ...
2022-04-04 YUM           124.5539         121.5066          125.7433
           ZBH           124.1879         120.1673          128.2974
           ZBRA          477.6502         434.9329          528.7973
           ZION           68.2256          68.0702           63.4798
           ZTS           203.8216         196.2839          210.8973

                  KAMA_monthly_10  MAMA_monthly_10  HT_TRENDLINE_monthly_10
time       stock
2000-01-31 ABK                NaN              NaN                      NaN
           ABS                NaN              NaN                      NaN
           ACE                NaN              NaN                      NaN
           ADS                NaN              NaN                      NaN
           AGN                NaN              NaN                      NaN
...                           ...              ...                      ...
2022-04-04 YUM           119.5085          60.7708                      NaN
           ZBH           135.1371          91.7334                      NaN
           ZBRA          527.8614         159.3978                      NaN
           ZION           61.9970          34.6790                      NaN
           ZTS           206.3733          68.8601                      NaN

[168524 rows x 9 columns]

In [1]:
a=3

In [3]:
b=3

In [4]:
print(a+b)

6

In [5]:
b  # x
for date in alist:
    # we are now at 2020.01.30
    # example: date = 2020.01.31
    x = b.loc[date-3*year : date-1]   # 2017.01 to 2019.12
    y = stockreturn_   # 2017.02 to 2020.01
    x_ = b.loc[date]     # 2020.01.31
    # run a regression
    y_hat = fit(x,y).predict(x_)    # the expect return of 2020.02
    
    covmatrix


    maximize = w*y_hat - riskAverse*w.T.dot(covmatrix).dot(w)



    # have w
    # actual portfolio return    when time = 2020.2, we can know the ture return of each stock r
    apr = w * r
    # sp500 return  we can also know the true return of sp500
    sp500r

NameError: name 'alist' is not defined